---
// Dette er frontmatters, her kan du inkludere JavaScript og dele data med HTML nedenfor
---

<html>
  <head>
    <title>Contact</title>
  </head>
  <body>
    <h1>Contact me</h1>
  <p>
  Email: Daria@qdaria.com
  <br>
  LinkedIn: <a href="https://www.linkedin.com/in/daria-søreide-houshmand-6312b4239/">Daria Soereide Houshmand</a>
</p>
  </body>
</html>

